<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <meta name="keywords" content="{{keywords}}" />
    <meta name="description" content="{{ description }}" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block stylesheets %}
        {% stylesheets
            'bundles/shop/site/css/bootstrap.min.css'
            'bundles/shop/site/css/font-awesome.min.css'
            'bundles/shop/site/css/prettyPhoto.css'
            'bundles/shop/site/css/price-range.css'
            'bundles/shop/site/css/animate.css'
            'bundles/shop/site/css/main.css'
            'bundles/shop/site/css/responsive.css'
            output='css/site/styles.css'
            filter='cssrewrite'
        %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
</head>
<body>

<header id="header"><!--header-->
    <div class="header-middle"><!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a href="/"><img src="/bundles/shop/site/images/home/logo.png" alt="" /></a>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="shop-menu pull-right">
                        <ul class="nav navbar-nav">
                            {#<li><a href="/"><i class="fa fa-user"></i> Главная</a></li>#}
                            {#<li><a href="#"><i class="fa fa-star"></i> Wishlist</a></li>
                            <li><a href="checkout.html"><i class="fa fa-crosshairs"></i> Checkout</a></li>
                            <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Cart</a></li>
                            <li><a href="login.html"><i class="fa fa-lock"></i> Login</a></li>#}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-middle-->

    <div class="header-bottom"><!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a href="/" class="active">Главная</a></li>
                            {% for item in main_menu %}
                                <li><a href="/pages/{{ item.translit }}-{{ item.page_id }}/">{{ item.title }}</a></li>
                            {% endfor %}
                            <li><a href="/pages/sitemap/">Карта сайта</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    {#<div class="search_box pull-right">
                        <input type="text" placeholder="Search"/>
                    </div>#}
                </div>
            </div>
        </div>
    </div><!--/header-bottom-->
</header><!--/header-->

{% block body %}


{% endblock %}

<footer id="footer"><!--Footer-->
    {#<div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="companyinfo">
                        <h2><span>e</span>-shopper</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor</p>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="col-sm-3">
                        <div class="video-gallery text-center">
                            <a href="#">
                                <div class="iframe-img">
                                    <img src="images/home/iframe1.png" alt="" />
                                </div>
                                <div class="overlay-icon">
                                    <i class="fa fa-play-circle-o"></i>
                                </div>
                            </a>
                            <p>Circle of Hands</p>
                            <h2>24 DEC 2014</h2>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="video-gallery text-center">
                            <a href="#">
                                <div class="iframe-img">
                                    <img src="images/home/iframe2.png" alt="" />
                                </div>
                                <div class="overlay-icon">
                                    <i class="fa fa-play-circle-o"></i>
                                </div>
                            </a>
                            <p>Circle of Hands</p>
                            <h2>24 DEC 2014</h2>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="video-gallery text-center">
                            <a href="#">
                                <div class="iframe-img">
                                    <img src="images/home/iframe3.png" alt="" />
                                </div>
                                <div class="overlay-icon">
                                    <i class="fa fa-play-circle-o"></i>
                                </div>
                            </a>
                            <p>Circle of Hands</p>
                            <h2>24 DEC 2014</h2>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="video-gallery text-center">
                            <a href="#">
                                <div class="iframe-img">
                                    <img src="images/home/iframe4.png" alt="" />
                                </div>
                                <div class="overlay-icon">
                                    <i class="fa fa-play-circle-o"></i>
                                </div>
                            </a>
                            <p>Circle of Hands</p>
                            <h2>24 DEC 2014</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="address">
                        <img src="images/home/map.png" alt="" />
                        <p>505 S Atlantic Ave Virginia Beach, VA(Virginia)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>#}

    <div class="footer-widget">
        <div class="container">
            <div class="row">

                    <div class="col-sm-8">
                        <div class="single-widget">
                            <h2>Меню</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="/" class="active">Главная</a></li>
                                {% for item in main_menu %}
                                    <li><a href="/pages/{{ item.translit }}-{{ item.page_id }}/">{{ item.title }}</a></li>
                                {% endfor %}
                                <li><a href="/pages/sitemap/">Карта сайта</a></li>
                            </ul>
                        </div>
                    </div>
                <div class="col-sm-3 col-sm-offset-1">
                    <div class="single-widget">
                        <h2>Здесь должен быть поиск</h2>
                        <form action="#" class="searchform">
                            <input type="text" placeholder="по товарам" />
                            <button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
                            <p>Но его пока нет</p>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left">Copyright © 2013 E-SHOPPER Inc. All rights reserved.</p>
                <p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span></p>
            </div>
        </div>
    </div>

</footer><!--/Footer-->
<script src="/bundles/shop/site/js/jquery.js"></script>
<script src="/bundles/shop/site/js/bootstrap.min.js"></script>
<script src="/bundles/shop/site/js/jquery.scrollUp.min.js"></script>
<script src="/bundles/shop/site/js/price-range.js"></script>
<script src="/bundles/shop/site/js/jquery.prettyPhoto.js"></script>
<script src="/bundles/shop/site/js/main.js"></script>
</body>
</html>